.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        マイケル
      %ul.side-header__box__menu
        %li.side-header__box__menu__edit-user
          =link_to "#" do 
            =icon('fas', 'edit' )
        %li.side-header__box__menu__new-group
          =link_to "#" do 
            =icon('fas', 'cog' )
  .groups
    .group
      %p.group__group-name
        ロベルト
      %p.group__latest-message
        まだメッセージはありません
