* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.chat-side {
  width: 260px;
  color: #eeeeee;
  a {
    color: #eeeeee;
  }
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;

    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 0 20px;
      font-weight: bold;

      &__menu {
        display: flex;
        li {
          a{
            color: #eeeeee;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.groups {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 20px; 
    
  .group {
    margin-bottom: 40px;
    text-decoration: none;
    &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
    }
    &__latest-message {
        font-size: 11px;
       }
    }
  }


.main-chat {
  width: calc(100vw - 260px);
}
.main-header {
  height: 100px;
  border-bottom: solid 1px #eeeeee;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  
  &__left-box {
    margin-top: 35px;
    &__group-name {
      font-size: 20px;
      color: #333333;
      margin-bottom: 15px;
    }
    &__member-list {
      font-size: 12px;
      color: #999999;
    }
    }
  &__edit-btn {
    margin-right: 40px;
    font-size: 16px;
    border: solid 1px #38aef0;
    margin-top: 28px ;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    a{
      color: #38aef0;
      text-decoration: none;
    }
  }
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px;
  overflow: scroll;
  .message {
    padding-bottom: 46px;
  }
  .message-info {
    margin-bottom: 12px;
    display: flex;

    &-talker {
      color: #333333;
      font-size: 16px;
    }
    &-data {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
  }
  .message-text {
    &-text {
      color: #434A54;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
}

.form {
  background-color: #d2d2d2;
  height: 90px;
  padding: 20px 40px;

  form {
    display: flex;
      .input-box {
        width: 100%;
        position: relative;
        &__text {
            height: 50px;
            width: 100%;
            border-style:none ;
            padding: 0 40px 0 10px;
          }
          &__image {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.3rem;
            cursor: pointer;
            .hidden {
            display: none;
      }
    }
  }
      .form__submit {
        width: 100px;
        height: 50px;
        background-color: #38aef0;
        color: #eeeeee;
        margin-left: 15px;
        padding: 0 30px;
        cursor: pointer;
  }
  }
}